body {
    background-color: orange;
    font-family: oswald;

}
#mainImg {
margin-top: 10px;
border-radius: 50%;
height: 190px;
width: 190px;
}
.footer {
    color: #FFF;
   
}
.Youtube {
    font-size: 20px;
    color: yellow;
    background-color: blue;
    text-align: center;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 0px 10px 0px 10px ;
    animation-name: warTransition;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


.myNav a {
    color: #FFF;
   
  
}
.myNav a:hover {
    color: orange;
}

p {
    font-size: 24px;
}
.card-img-bottom {
    height: 300px;
}
.btn {
    font-weight: bolder;
}
.btn:hover {
    color: crimson;
}
@keyframes example {
    0%   {border-left-color: rgb(21, 1, 66);}
    25%  {background-color: rgb(46, 0, 73);}
    50%  {background-color: rgb(0, 0, 71);}
    100% {background-color: rgb(0, 77, 0);}
  }
  @keyframes warTransition {
    0%   {font-style: normal; background-color: rgb(243, 92, 5);}
    25%  { font-style: italic;background-color: rgb(46, 0, 73);}
    50%  {font-style: italic ;background-color: rgb(0, 0, 71);}
    100% {font-style: normal ; background-color: rgb(136, 11, 11);}
  }
  /* The element to apply the animation to */
 header {
    background-color: green;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-family: 'Leckerli One', cursive;
    color: #FFF;
    font-weight: 300;
   }